# Optional: override path to folder containing PDFs (default: ./data)
# DOCUMENTS_PATH=./data

#required for groq api. You can get it from https://console.groq.com/keys
GROQ_API_KEY=<YOUR_GROQ_API_KEY>